* {
    margin: 10px;
    padding: 0;
}

body {
    background-color: rgb(30, 30, 30);
    color: hotpink;
    margin: auto;
    text-align: center;
    
}

h1, h2 {
    margin-top: 30px;
    font-size: 80px;
}

#ft_ester_1 {
    clear: right;
    width:200px;
    height:200px;
    float: left;
    background-color: yellow;
    margin: 20px;
}

#texto {
    vertical-align: auto;
    width: fit-content;
    height: fit-content;
}

h2 {
    margin-bottom: 30px;
}

a {
    font-size: 50px;
    text-decoration: none;
    color: hotpink;
}

#presente {
    margin-left: 2%;
    margin-top: 50%;
    animation: go-back 1s;
    transition: transform 1s ease-in-out;
}
.ppresente{
    transform: scale(0.0001);
}
.pppresente{
    transform: scale(1);
}

#galeria {
    display: inline-block;
    margin-top: 40px;
    background-color: deeppink;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    border-radius: 8px;
}

@keyframes go-back {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}